@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <div class="header-container">
        <img src="/images/Bursa_Uludağ_University_logo.svg.png" alt="Bursa Uludağ Üniversitesi Logo" class="main-logo" />
        <h1 class="display-4">İnegöl İşletme Fakültesi - YBS Yoklama Sistemi</h1>
    </div>
    <h2 class="mt-3">Ders katılım takibi artık daha kolay!</h2>
    <p class="lead mt-4">Fakültemizin YBS bölümü için özel olarak tasarlanan bu sistemle yoklama işlemlerinizi hızlı ve etkin bir şekilde yönetin.</p>
</div>
